{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar With Malisa</title>
    <link rel="stylesheet"href="{% static 'css/bootstrap' %}">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
    <center>MATERI</center>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <nav>
		<ul id="mainMenu">
			<li><a href="home.html">Home</a></li>
			<li><a href="Materi.html">Materi</a></li>
			<li><a href="Contoh.html">Contoh</a></li>
			<li><a href="Latihan.html">Latihan</a></li>
			<li><a href="Blog.html">Me</a></li>
			
		</ul>
	</nav>
    </main>
</body>
</html>